@model PetHealthcare.Server.Models.Pet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetBreed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetBreed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VaccinationHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaccinationHistory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDisabled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDisabled)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PetId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
