@model IEnumerable<PetHealthcare.Server.Models.Pet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImgUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetBreed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VaccinationHistory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDisabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImgUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetBreed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccinationHistory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDisabled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
